
/* --- Styling for whole site --- */

nav, footer, main {
    text-align: center;
}

h2, h4, .banner, .store-link, .store-items {
    font-family: 'Bebas Neue', serif;
}

.toolbar, #index-content, table, ul, #customer-wrapper, #construction-content, footer, #site-quote {
    font-family: 'Maven Pro', serif;
}

header{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:5;
}

/* Menu bar at the top of each page */
.toolbar-wrapper {
    background-color: #3D405B; /* Blue */
    padding: 5px;
    display: flex;
    justify-content: center;
}

.toolbar {
    width: 1100px;
    text-align: right;
    font-size: 1.2em;
    text-decoration: none;
}

.toolbar-item {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
} 

.toolbar-item:hover { 
    border-bottom:2px #E07A5F solid;
    color: white;
    text-decoration: none;
}

.cart {
    border-radius: 0 0 25px 25px;
    background-color: #E07A5F;
    color: white;
    padding: 15px;
}

.cart:hover, .store-link:hover {
    text-decoration: none;
    color: white;
    font-style: italic;
}

/* Banner undernearth the top menu toolbar */
.banner-wrapper {
    background-color: #F4F1DE; /* Off white */
    padding: 25px;
    box-shadow: 10px 10px 8px #888888;
    display: flex;
    justify-content: center;
}

.banner {
    font-size: 2em;
    width: 1000px;
}

.banner a {
    text-decoration: none;   /* removes underline */
    color: #3D405B; /* Blue */
    padding-left: 20px;
    padding-right: 20px;
}

.banner-item:hover {
    color: white;
    background-color: #3D405B;
    border-radius: 25px;
    padding: 10px;
}

.site-title {
    font-size: 2em;
}

.site-title:hover {
    text-decoration: none;
    color: #988675;
}

/* Main contents of each page */
main {
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* --- Style for index.html --- */

#index-content {
    display:flex;
    justify-content: center;
    margin: 50px 20px;
    
}

.store-link {
    border-radius: 25px;
    background-color: #E07A5F;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px 30px;
    align-self: center;
}


/* --- Style for cart.html --- */

#cart-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Table listing items in cart */
table {
    border: 1px #3D405B solid;
    width: 700px;
}

#table-header {
    background-color: #AEAEAE;
    font-size: 1.2em;
    color: white;
}

.table-row {
    border: 1px #3D405B solid;
}

td {
    padding: 15px 25px;
}

.quantity {
    width: 60px; /* Minimize input text box */
}

/* Box on the right, displaying cart totals */
#cart-total {
    border: 1px #3D405B solid;
    background-color: #F4F1DE; /* Off white */
    padding-top: 60px;
    width: 300px;
}

ul {
    list-style-type: none;
    text-align: left;
}

li {
    padding: 10px;
}

.total-label {
    font-size: 1.3em;
    padding-bottom: 20px;
}

.shipping-label {
    padding:5px 5px 5px 10px;
}

/* Bottom box displaying user and password text fields */
#customer-wrapper {
    border: 1px #3D405B solid;
    padding: 30px 0;
    margin: 20px 50px 100px 50px;
    /*margin-bottom: 100px;*/
}

#user-pw, #username {
    margin-right: 20px;
}

#submit-btn {
    border: none;
    border-radius: 10px;
    background-color: #E07A5F;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#submit-btn:hover {
    font-style: italic;
}

#error-msg {
    margin: 15px;
    color: red;
}



/* --- Style for construction.html --- */
#construction-content {
    margin-top:150px;
    margin-bottom:300px;
}


/* --- Style for order-placed.html --- */
#order-placed-content {
    margin-top: 100px;
    margin-bottom:800px;
}


/* --- Style for store.html --- */

.store-items {
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 10px;
}

#store-content {
    margin-top:50px;
    margin-bottom: 250px;
}


/* --- Style for about.html --- */

#about-content{
    margin-top:100px;
    margin-bottom: 600px;
}


/* --- Style for footer --- */

footer {
    position: relative;
    top:300px;
    background-color: #F4F1DE; /* Off white */
    padding: 25px 0;
    box-shadow: 8px 10px 10px 8px #888888;
}

.footer_content {
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content figure {
    margin: 0 20px;
}